In [1]:
import os

# Change directory to your target path
os.chdir('/Users/carolinarutilidelima/Documents/OD_DC/')

#os.chdir('/home/carolima/Documents/GitHub/OD_Sao_Paulo')

In [2]:
import pandas as pd

# Load the CSV file into a DataFrame
file_path = 'output_data/output_df_time.csv'
df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame to confirm it was loaded correctly
df.head()

,source,source_lat,source_lon,destination,dest_lat,dest_lon,source_hour1,source_hour2,source_hour3,source_hour4,source_hour5,dest_hour1,dest_hour2,dest_hour3,dest_hour4,dest_hour5
0,5.0,40.677833,-73.785667,44.0,40.694833,-74.117167,12.0,13.0,11.0,10.0,14.0,11.0,10.0,12.0,14.0,13.0
1,23.0,40.764667,-74.000833,17.0,40.576167,-74.207167,13.0,14.0,12.0,15.0,11.0,16.0,15.0,14.0,17.0,11.0
2,5.0,40.677833,-73.785667,49.0,40.612333,-74.153833,12.0,13.0,11.0,10.0,14.0,15.0,14.0,16.0,13.0,17.0
3,5.0,40.677833,-73.785667,49.0,40.612333,-74.153833,12.0,13.0,11.0,10.0,14.0,15.0,14.0,16.0,13.0,17.0
4,46.0,40.891833,-73.895333,44.0,40.694833,-74.117167,17.0,16.0,18.0,15.0,14.0,11.0,10.0,12.0,14.0,13.0

In [3]:

# Function to compute matching hours and select up to 5
def compute_matching_hours(row):
    source_hours = [
        row['source_hour1'], row['source_hour2'], row['source_hour3'],
        row['source_hour4'], row['source_hour5']
    ]
    dest_hours = [
        row['dest_hour1'], row['dest_hour2'], row['dest_hour3'],
        row['dest_hour4'], row['dest_hour5']
    ]
    
    # Remove NaNs
    source_hours = [hour for hour in source_hours if not pd.isna(hour)]
    dest_hours = [hour for hour in dest_hours if not pd.isna(hour)]
    
    # Find matching hours
    matching_hours = list(set(source_hours) & set(dest_hours))
    
    # If there are fewer than 5 matching hours, add popular non-matching hours
    if len(matching_hours) < 5:
        combined_hours = list(set(source_hours + dest_hours))
        combined_hours.sort()  # Sort for consistent results
        selected_hours = list(set(matching_hours))
        for hour in combined_hours:
            if hour not in selected_hours:
                selected_hours.append(hour)
            if len(selected_hours) == 5:
                break
    else:
        # Select only up to 5 matching hours
        selected_hours = matching_hours[:5]
    
    return selected_hours

# Apply the function to each row
df['selected_hours'] = df.apply(compute_matching_hours, axis=1)

In [4]:
df

,source,source_lat,source_lon,destination,dest_lat,dest_lon,source_hour1,source_hour2,source_hour3,source_hour4,source_hour5,dest_hour1,dest_hour2,dest_hour3,dest_hour4,dest_hour5,selected_hours
0,5.0,40.677833,-73.785667,44.0,40.694833,-74.117167,12.0,13.0,11.0,10.0,14.0,11.0,10.0,12.0,14.0,13.0,"[10.0, 11.0, 12.0, 13.0, 14.0]"
1,23.0,40.764667,-74.000833,17.0,40.576167,-74.207167,13.0,14.0,12.0,15.0,11.0,16.0,15.0,14.0,17.0,11.0,"[11.0, 14.0, 15.0, 12.0, 13.0]"
2,5.0,40.677833,-73.785667,49.0,40.612333,-74.153833,12.0,13.0,11.0,10.0,14.0,15.0,14.0,16.0,13.0,17.0,"[13.0, 14.0, 10.0, 11.0, 12.0]"
3,5.0,40.677833,-73.785667,49.0,40.612333,-74.153833,12.0,13.0,11.0,10.0,14.0,15.0,14.0,16.0,13.0,17.0,"[13.0, 14.0, 10.0, 11.0, 12.0]"
4,46.0,40.891833,-73.895333,44.0,40.694833,-74.117167,17.0,16.0,18.0,15.0,14.0,11.0,10.0,12.0,14.0,13.0,"[14.0, 10.0, 11.0, 12.0, 13.0]"
5,49.0,40.612333,-74.153833,5.0,40.677833,-73.785667,15.0,14.0,16.0,13.0,17.0,12.0,13.0,11.0,10.0,14.0,"[13.0, 14.0, 10.0, 11.0, 12.0]"
6,49.0,40.612333,-74.153833,5.0,40.677833,-73.785667,15.0,14.0,16.0,13.0,17.0,12.0,13.0,11.0,10.0,14.0,"[13.0, 14.0, 10.0, 11.0, 12.0]"
7,17.0,40.576167,-74.207167,23.0,40.764667,-74.000833,16.0,15.0,14.0,17.0,11.0,13.0,14.0,12.0,15.0,11.0,"[11.0, 14.0, 15.0, 12.0, 13.0]"
8,14.0,40.737000,-73.770833,44.0,40.694833,-74.117167,14.0,15.0,13.0,16.0,17.0,11.0,10.0,12.0,14.0,13.0,"[13.0, 14.0, 10.0, 11.0, 12.0]"
9,13.0,40.877333,-73.828167,31.0,40.575667,-73.944000,15.0,14.0,16.0,13.0,17.0,21.0,20.0,19.0,22.0,18.0,"[13.0, 14.0, 15.0, 16.0, 17.0]"
10,31.0,40.575667,-73.944000,13.0,40.877333,-73.828167,21.0,20.0,19.0,22.0,18.0,15.0,14.0,16.0,13.0,17.0,"[13.0, 14.0, 15.0, 16.0, 17.0]"
11,5.0,40.677833,-73.785667,17.0,40.576167,-74.207167,12.0,13.0,11.0,10.0,14.0,16.0,15.0,14.0,17.0,11.0,"[11.0, 14.0, 10.0, 12.0, 13.0]"
12,13.0,40.877333,-73.828167,44.0,40.694833,-74.117167,15.0,14.0,16.0,13.0,17.0,11.0,10.0,12.0,14.0,13.0,"[13.0, 14.0, 10.0, 11.0, 12.0]"
13,31.0,40.575667,-73.944000,46.0,40.891833,-73.895333,21.0,20.0,19.0,22.0,18.0,17.0,16.0,18.0,15.0,14.0,"[18.0, 14.0, 15.0, 16.0, 17.0]"
14,1.0,40.822667,-73.887000,49.0,40.612333,-74.153833,NaN,NaN,NaN,NaN,NaN,15.0,14.0,16.0,13.0,17.0,"[13.0, 14.0, 15.0, 16.0, 17.0]"
15,1.0,40.822667,-73.887000,49.0,40.612333,-74.153833,NaN,NaN,NaN,NaN,NaN,15.0,14.0,16.0,13.0,17.0,"[13.0, 14.0, 15.0, 16.0, 17.0]"
16,49.0,40.612333,-74.153833,1.0,40.822667,-73.887000,15.0,14.0,16.0,13.0,17.0,NaN,NaN,NaN,NaN,NaN,"[13.0, 14.0, 15.0, 16.0, 17.0]"
17,49.0,40.612333,-74.153833,1.0,40.822667,-73.887000,15.0,14.0,16.0,13.0,17.0,NaN,NaN,NaN,NaN,NaN,"[13.0, 14.0, 15.0, 16.0, 17.0]"
18,46.0,40.891833,-73.895333,31.0,40.575667,-73.944000,17.0,16.0,18.0,15.0,14.0,21.0,20.0,19.0,22.0,18.0,"[18.0, 14.0, 15.0, 16.0, 17.0]"
19,17.0,40.576167,-74.207167,5.0,40.677833,-73.785667,16.0,15.0,14.0,17.0,11.0,12.0,13.0,11.0,10.0,14.0,"[11.0, 14.0, 10.0, 12.0, 13.0]"

In [5]:
# Generate the table with taking off station, landing station, and taking off time

output_rows = []



for _, row in df.iterrows():

    source_id = row['source']

    destination_id = row['destination']

    selected_hours = row['selected_hours']

    

    # Add a row for each selected hour

    for hour in selected_hours:

        output_rows.append({

            'taking_off_time': f"{int(hour):02}:00",  # Format hour to HH:00

            'taking_off_station_ID': int(source_id),

            'landing_station_ID': int(destination_id)

        })



# Create a new DataFrame for the output

output_df = pd.DataFrame(output_rows)

In [6]:
# Add index as a new column
output_df['index_number'] = output_df.index

# Reorder columns to make 'index_number' the first column
output_df = output_df[['index_number'] + [col for col in output_df.columns if col != 'index_number']]

# Save the updated DataFrame to a file
output_df.to_csv('output_data/timetable_ml.csv', index=False)